
/*General Styles*/
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --hue-neutral: 200;
  --hue-wrong:  0;
  --hue-correct: 120;
}
body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}
.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 50;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Logo*/
.logo {
  position: fixed;
  top: 15px;
}
.logo img {
  height: 150px;
  width: 150px;
  border-radius: 25%;
}

/*Colour Change for Correct/incorrect answers*/
body.correct {
--hue: var(--hue-correct);
}
body.wrong {
--hue: var(--hue-wrong);
}
.counter-timer {
text-align: center;
margin-top: 10px;
position: relative;
z-index: 1;
}
/*Timer Styles*/
#question-counter,
#timer {
font-size: 1.2rem;
color: black;
margin: 5px 0;
}
#timer {
font-size: 1.2rem;
color: black;
margin: 10px 0; /* Add margin on top and bottom */
/* display: none; */ /* Comment out or remove this line */
}
/*Button Styles*/
.btn-grid {
display: grid;
grid-template-columns: repeat(2, auto);
gap: 10px;
margin: 20px 0;
}
.btn {
--hue: var(--hue-neutral);
border: 3px solid hsl(var(--hue), 100%, 30%);
background-color: hsl(var(--hue), 100%, 50%);
border-radius: 5px;
padding: 5px 10px;
color: white;
outline: none;
}
.btn:hover {
border-color: black;
}
.btn.correct {
--hue: var(--hue-correct);
}
.btn.wrong {
--hue: var(--hue-wrong);
}
.start-btn {
font-size: 1.5rem;
font-weight: bold;
padding: 10px 20px;
}
.leaderboard-btn {
  margin-top: 10px;
}
#score-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Final Score Styles*/
#try-again {
margin-top: 1rem;
margin-bottom: 15px;
}

/*leaderboard area styling*/
#leaderboard-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#leaderboard-btn {
  margin-bottom: 5px;
}
/*footer and social media icons*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px;
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  color: white;
  position:relative;
 
}
.social-icons a {
  margin: 0 10px;
  color:white;
  text-decoration: none;
  position: relative;
  z-index: 2;
}
.social-icons i {
  transition: color 0.3s ease-in-out;
}
.social-icons a:hover i {
  color: #EF233C ; /* Adjust the hover color as needed */
}
/*overiding generalised style for social links*/
#social {
  font-family: sans-serif;
}

/* Incognito mode */

.hide {
  display: none !important; /* Prevent specificity issues! */
}
/* Mobile devices - Portrait (Vertical) */
@media only screen and (max-width: 667px) and (orientation: portrait) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 6em;
    max-height: min-content;
    position: absolute;
  }

  .logo img {
    height: 100px;
    width: 100px;
    left: 14em;
  }

  .btn-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .social-icons {
    left: 100px;
    bottom: 0;
    display: flex;
    font-size: 25px;
    color: white;
    position: absolute;
    right: 14em;
  }

  footer {
    position: fixed;
    bottom: 0px;
    right:75;
    width: 86%;
    background-color: #333;
    padding: 60px;
    text-align: center;
  }
}

/* Mobile devices - Landscape (Horizontal) */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }

  .container {
    width: 90%; /* Adjust the width percentage as needed */
    max-width: 800px; /* Adjust the maximum width as needed */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 50;
    position: relative;
    margin: 10vh auto; /* Adjust the top margin as needed */
    transform: translateY(-50%);
  }

  }

  .logo img {
    height: 100px;
    width: 100px;
    left: 14em;
  }

  .btn-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .social-icons {
    left: 100px;
    bottom: 5px;
    display: flex;
    font-size: 25px;
    color: white;
    position: absolute;
    right:10em;
  }

  footer {
    position: fixed;
    bottom: 0%px;
    right: 75px;
    width: 100%;
    background-color: #333;
    padding: 20px;
    text-align: center;
}

